@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
p {
  font-family: "roboto";
  color: rgb(55, 65, 81);
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 200;
}
.burger__button {
  z-index: 1000;
}

.heading__outline-light {
  background: #43b0f1;
  color: white;
  display: inline-block;
}
.heading__outline-dark {
  color: white;
  background: #1e3d58;
  display: inline-block;
}
.nav-active {
  display: block;
  transition: all 1s ease-in-out;
}

.slider__heading-wrapper {
  height: 4.5em;
}

.slider__heading-active {
  opacity: 1;
}
.main-container {
  margin-bottom: 10;
}
.card {
  padding: 0 1rem;
  width: 19rem;
  height: 25rem;

  background-color: white;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
}
.card:hover {
  background-color: #e6f2fa;
  background-opacity: 0.1;
}
.card-image {
  width: 100%;
  height: 9rem;
  fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e3d58;

  font-family: "roboto slab";
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.card p {
  line-height: 1.4em;
  font-weight: 200;
  color: #1e3d58;
}

.section-heading {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3;
  font-size: 3rem;
  font-family: "permanent marker";
  background-color: #003ee7;
  color: #d3dfff;
  display: inline-block;
}

/* -------------------------------------------------------- LESSONS CSS ----------------------------------------*/

.lessons__content {
  display: none;
}

.lessons__content--active {
  display: block;
  transition: opacity 2s ease-in-out;
}

.lessons section p {
  line-height: 1.5em;
}

.lessons h5 {
  display: inline-block;
  opacity: 0.75;
  font-family: "roboto";
  //border-bottom: 1px solid #acc2ff;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.lessons-header {
  font-family: "roboto slab";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #057dcd;
}

.lesson-subheading {
  font-family: "roboto slab";
  font-weight: 300;
  line-height: 1.3;
  //letter-spacing: 0.1em;
  border-bottom: 1px solid #057dcd;
  text-transform: uppercase;
}

.section-highlighter {
  background: #fdff32;
  font-weight: 400;
  color: black;
  display: inline-block;
}

.lesson-image {
  shape-outside: circle();
}
////ARROW Buttons
button {
  cursor: pointer;
}
/* POLL SECTION ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.poll-flex {
  position: relative;
}

/* POLL HEADING */
.poll-question_heading {
  margin-bottom: 1em;
  color: #1e3d58;
}

/* CUSTOM RADIO BUTTONS */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f3f3f3;
  color: #1e3d58;
  position: relative;

  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(0.17em);
  margin-right: 0.2em;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 100ms transform ease-in;
  box-shadow: inset 1em 1em #1e3d58;
  position: absolute;
  top: 3px;
  right: 3px;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.no-vis {
  display: hidden;
}
.poll-q-wrapper {
  color: #1e3d58;
  padding: 0.5em 0 0.5em 0.2;
  border-radius: 10px;
  margin-bottom: 2em;
}

div .poll-q-wrapper:hover,
input[type="radio"]:hover,
input[type="radio"]:checked:hover {
  color: black;
  transition: color 200ms ease-in;
}

/* ANIMATION    */
.pollColor {
  display: inline-block;
  background-color: #057dcd;
  height: 0.5em;
  width: 0px;

  transition: width 1s ease-in-out;
}

.poll-wrap {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
  color: #37383d;
}

.poll-q-wrapper {
  position: relative;
}

/* after submit pressed!! */
.no-display {
  visibility: hidden;
}

.no-vis {
  display: none;
}

.yes-display {
  visibility: visible;
}

/*Poll percentage after click */
.pollpercentage {
  font-weight: 500;
  color: #1e3d58;
  font-family: "roboto";
  width: 3.5em;
  letter-spacing: 1.9px;
}

/*----- BUG-- */
.bigfont {
  font-family: "roboto slab";
  font-size: 1.875rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.2;
  color: #e73500;

  position: absolute;
  top: 50%;
  left: 35%;
}
