@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f3f3;
}
p {
  font-family: "roboto";
  color: rgb(55, 65, 81);
  font-size: 1rem;
  line-height: 1.4;
}

.main-container {
  margin-bottom: 10;
}
.card {
  padding: 1rem;
  width: 20rem;
  height: 28rem;
  border-radius: 15px;
  background-color: #f3f3f3;

  cursor: pointer;
}
.card:hover {
  background-color: #d3dfff;
}

.card-image {
  width: 100%;
  height: 9rem;
  fit: cover;
}
.card-title {
  font-size: 1.2rem;
  color: #e7003e;
  font-family: "roboto slab";
  font-weight: 300;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.section-heading {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3;
  font-size: 3rem;
  font-family: "permanent marker";
  background-color: #003ee7;
  color: #d3dfff;
  display: inline-block;
}

/* -------------------------------------------------------- LESSONS CSS ----------------------------------------*/
.accent-heading {
  font-size: 2rem;
  font-family: "roboto slab";
  font-weight: 300;
  color: #e70030;
  text-transform: uppercase;
}

.section-highlighter {
  background: #fdff32;
  font-weight: 400;
  color: black;
  display: inline-block;
}

.section-subheading {
  font-size: 1.4rem;
  font-family: "roboto-slab";
  font-weight: "500";
  color: ;
}

/* POLL SECTION */

.poll-flex {
  position: relative;
}

/* POLL HEADING */
.poll-question_heading {
  margin-bottom: 1.5em;
}

/* CUSTOM RADIO BUTTONS */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f3f3f3;
  color: rgb(51 65 85);
  position: relative;

  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(0.17em);
  margin-right: 0.2em;

  /* display: grid;
  place-content: center; */
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 100ms transform ease-in;
  box-shadow: inset 1em 1em black;
  position: absolute;
  top: 3px;
  right: 3px;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.poll-q-wrapper {
  color: rgb(51 65 85);
  border: 1px solid lightgrey;
  padding: 0.5em 0 0.5em 0.2;
  border-radius: 10px;
  margin-bottom: 2em;
}

div .poll-q-wrapper:hover,
input[type="radio"]:hover,
input[type="radio"]:checked:hover {
  color: black;
  transition: color 500ms ease-in-out;
}

/* ANIMATION    */

.poll-q_bg {
  background-color: #d3dfff;
  width: 70%;
  z-index: 20;
}

/* after submit pressed!! */
/*
.poll-submitted {
  transform: translateY(400px);
  transition: transform 500ms ease-in-out;
}
*/
.no-display {
  display: none;
}

.yes-display {
  display: inline-block;
}
/* POLL SUBMIT BUTTON */
/* .pollBtn {
  align-self: start;
  text-transform: uppercase;

  font-family: roboto-slab;
  font-weight: 600;

  border: 1px solid black;
  border-radius: 1000px;
  padding: 0.5em 1em;

} */
